nav {
  background-color: var(--bg-accent-0);
  padding: 0.4em 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: min(12vw, 10rem);
  min-width: max-content;
  color: inherit;
}

nav div {
  margin-top: auto; 
  margin-bottom: 0.2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.versionLabel {
  font-size: 0.9rem;
}

.settingsBtn {
  background: url(../settings.png);
  width: 2.25rem;
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: 0;
  border-radius: 50%;
  transition: scale 100ms, box-shadow 100ms;
}
.settingsBtn:hover {
  box-shadow: 0 0 0.6rem 0.05rem var(--settings-btn-shadow-clr), inset 0 0 0.4rem 0.03rem var(--settings-btn-shadow-clr);
  scale: 1.1;
}

.instructions {
  width: 75vw;
  max-height: 90vh;
}

.instructions[open] {
  display: flex;
  flex-direction: column;
}

.instructionsContent {
  flex: 1;
  min-height: 0;
  overflow: auto;
  overscroll-behavior: none;
  padding-right: 1rem;
}

.settings input {
  outline: 0;
}
.settings input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

.settings .sliderContainer {
  margin-bottom: 2rem;
}

.settings select {
  background-color: var(--input-bg);
  color: var(--input-f-clr);
  border-color: var(--btn-border-clr);
}

.nav-title {
  font-family: Computer Modern Concrete; 
  font-weight: 600;
  transition: color 100ms ease-in-out;
  color: var(--title-clr);
}
