.simTable,
.simTable th,
.simTable td,
.simTable tr {
  background-color: var(--table-bg) !important;
  color: var(--table-f-clr) !important;
  border: 1px solid var(--table-f-clr) !important;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}

.simTable table,
.simTable th,
.simTable td {
  position: relative;
  background: white;
  color: black;
  height: fit-content;
  white-space: nowrap;
  text-align: left;
}

.small td {
  padding-inline: 0.2rem;
  font-size: 0.8rem;
}
.small th {
  padding-inline: 0.9rem;
  font-size: 0.85rem;
}
.big th {
  padding-inline: 0.3em;
  font-size: 0.8rem;
}
.big td {
  padding-inline: 0.3em;
  font-size: 0.7rem;
}
.simTable {
  margin-block-start: 2.5rem;
}

.boughtVars {
  padding: 5rem 0 5rem 1rem;
  background-color: rgb(13, 15, 131);
  color: white;
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  max-height: 70vh;
  overflow: hidden;
  position: relative;
}

.boughtVars table tr td.highlighted {
  background-color: rgb(197, 100, 62);
}

.boughtVars table,
.boughtVars tr,
.boughtVars td,
.timeDiffTable,
.timeDiffTable tr,
.timeDiffTable td {
  border-collapse: collapse;
  padding: 0.3rem;
  text-align: center;
  font-size: 0.9rem;
}
.boughtVars > div > table > thead > tr,
.timeDiffTable > thead > tr {
  border-bottom: 2px solid white;
}
.boughtVars tr ~ tr,
.timeDiffTable tr ~ tr {
  border-top: 2px solid white;
}
.boughtVars td ~ td,
.timeDiffTable td ~ td {
  border-left: 1px solid white;
}
.boughtVarsCloseBtn {
  border-radius: 50%;
  width: 1.5rem;
  aspect-ratio: 1;
  background-color: red !important;
  color: white !important;
  font-weight: bold;
  font-size: 0.8rem;
  font-style: italic;
  font-family: "Luicida Handwriting";
  cursor: pointer;
  transition: scale 100ms;
  position: fixed;
  right: 10%;
  top: 5%;
  outline: 0.1em solid white;
}
.boughtVars > div::-webkit-scrollbar {
  width: 1rem;
}
.boughtVars > div::-webkit-scrollbar-thumb {
  background-color: rgb(21, 69, 137);
  border: 1px solid rgb(11, 210, 241);
  border-radius: 0.5rem;
}
.boughtVars > div::-webkit-scrollbar-track {
  background-color: rgb(8, 7, 77);
  border-radius: 0.5rem;
}
